@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Regular.woff) format("woff"),
        url(../fonts/FiraSansCondensed-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Medium.woff) format("woff"),
        url(../fonts/FiraSansCondensed-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-SemiBold.woff) format("woff"),
        url(../fonts/FiraSansCondensed-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts//sfprodisplayregular.woff) format("woff"),
        url(../fonts/sfprodisplayregular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
