$red: #BF1B2C;
$black: #202227;
$yellow: #F9C123;
$grey2: #6C6C6C;
$grey6: #B1B1B1;
$grey3: #D8D8D8;
$light-grey: #EBEBEB;
$milk: #F5F5F5;

$desktop-width: 1400px;
$tablet-width: 768px;
$mobile-width: 375px;